header {
	background-color: rgb(0, 51, 153);
	height: 100px;
	width: 100%;
	margin: 0px;
	position: fixed;
	display: block;
}

body {
	margin: 0;
}

h1 {
	margin-left: 20px;
	color: white;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}

b {
	font-family: 'Roboto', sans-serif;
}

img {
	width: 200px;
	height: auto;
	margin-left: 10px;
	display: inline-block;
}

#fdlist {
	background-color: rgb(230, 230, 255);
	float: left;
	height: 80%;
    max-width: 100px;
    margin-top: 100px;
    padding: 2em 1em 0 1em;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}

#board {
	display: inline-block;
	margin-left: 160px;
	margin-top: 110px;
}

.post {
	border: 2px solid grey;
	border-radius: 4px;
	margin-bottom: 15px;
	width: 500px;
	padding: 10px;
}

.cm_container {
	border: solid 1px blue;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 3px;
	border-radius: 5px;
}

.cm {
	background-color: rgb(230, 230, 255);
	border: solid 1px lightgrey;
	margin: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 5px;
}

.info {
	font-size:10px;
 	font-family: 'Roboto', sans-serif;
}	

.fa-star:hover {
	text-shadow: 5px 5px ;
}

@media only screen and (max-width: 580px) {

header {
	background-color: rgb(0, 51, 153);
	height: 70px;
	width: 100%;
	margin: 0px;
	position: fixed;
	display: block;
}

body {
	margin: 0;
}

h1 {
	margin-left: 20px;
	color: white;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}

b {
	font-family: 'Roboto', sans-serif;
}

img {
	width: 150px;
	height: auto;
	margin-left: 10px;
	display: inline-block;
}

#fdlist {
	background-color: rgb(230, 230, 255);
	float: left;
	height: 100%;
    max-width: 80px;
    margin-top: 70px;
    padding: 2em 0.5em 0 0.5em;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}

#board {
	display: inline-block;
	margin-left: 110px;
	margin-top: 80px;
}

.post {
	border: 2px solid grey;
	border-radius: 4px;
	margin-bottom: 10px;
	width: 350px;
	padding: 5px;
}

.cm_container {
	border: solid 1px blue;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 3px;
	border-radius: 5px;
}

.cm {
	background-color: rgb(230, 230, 255);
	border: solid 1px lightgrey;
	margin: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 5px;
}

.info {
	font-size:5px;
 	font-family: 'Roboto', sans-serif;
}	
}